version: '3.8'

services:
  university-api:
    build: .
    container_name: university-backend
    ports:
      - "8888:8888"
    env_file: .env
    environment:
      - SPRING_DATASOURCE_URL=${DB_URL}
      - SPRING_DATASOURCE_USERNAME=${DB_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
      - CLOUD_AWS_CREDENTIALS_ACCESS_KEY=${S3_ACCESS_KEY}
      - CLOUD_AWS_CREDENTIALS_SECRET_KEY=${S3_SECRET_KEY}
      - CLOUD_AWS_S3_BUCKET=${S3_BUCKET}
      - SPRING_WEB_CORS_ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      
      # [중요] 스프링부트가 파일을 저장할 내부 경로 지정
      - UPLOAD_PATH=/app/uploads/ 
    
    restart: always
    
    # [중요] EC2 폴더와 도커 내부 폴더 연결 (영구 저장)
    volumes:
      - /home/ubuntu/uploads:/app/uploads